@import '~normalize.css';
@import './_variables.scss';
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  font-size: calc(10px + 0.33vw);
  color: $text;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  header {
    font-size: 4.5em;
    font-weight: 800;
    user-select: none;
    text-shadow: 0px 0px 0px transparent;
    transition: ease-in 0.3s;
    cursor: grab;
    &:hover {
      text-shadow: 0px 0px 20px #9c9c9c;
    }
    &:active {
      cursor: grabbing;
      transition: none;
      text-shadow: 0px 0px 5px #9c9c9c;
      color: #717171;
    }
  }
}
code {
  white-space: pre-wrap;
}
#wrap {
  width: 100%;
  & > div {
    position: absolute;
    width: 50%;
    min-height: 100%;
    top: 0;
    display: flex;
    &.key-part {
      left: 0;
      justify-content: center;
      align-items: center;
    }
    &.value-part {
      position: fixed;
      overflow: auto;
      height: 100%;
      right: 0;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #ffffff;
      padding: 2em;
      box-sizing: border-box;
      border-left: 1px solid #c3c3c3;
    }
  }
}
select,
button {
  height: 2.4em;
}
.key-value-box {
  padding: 4px 0;
}
