@import '../styles/variables';

.wrap {
  box-shadow: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #d1d4db;
  border-radius: 0.2em;
  background: #fff;
  height: 2.4em;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  input {
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: 400;
    box-shadow: none;
    margin: 0;
    padding: 0 0.8em;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    background: none transparent;
    color: $text;
    width: 100%;
    min-width: 0;
    text-overflow: ellipsis;
    outline: 0;
    appearance: none;
  }
}
